{% extends "layout.twig" %}

{% block content %}
<div id="resume-header" class="row">
    <div class="col-3">
        <img id="profile-picture" src="https://ui-avatars.com/api/?name=Jose+Leo&size=255&background=0D8ABC&color=fff" alt="">
    </div>
    <div class="col">
        <h1>{{ name  }}</h1>
   <center>   <h2>.NET, PHP Developer</h2></center>
        <ul>
            <li>Mail: desarrollojlq@outlook.es</li>
            <li>Phone: 316 898 2961</li>
            <li>LinkedIn: linkedin.com/in/jose-leonardo</li>
            <li>Twitter: @lejos89</li>
            <li>Github: https://github.com/joseleoo</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="border-bottom-gray">Carrer Summary</h2>
        <p>            
            Programador de software con varios años de experiencia en desarrollo con .NET. He trabajado en empresas dedicadas al desarrollo de software
            
           <br> Cualidades: <br>
            -Perseverante <br>
            -Responsable <br>
            -Integro <br>
            -Colaborador <br>
            -Serio <br>
            -Autodidacta
        </p>
    </div>
</div>
<div class="row">
    <div class="col">

        <div>

            <h3 class="border-bottom-gray">Work Experience</h3>
            <ul>
                {% for job in jobs %}
                <li class="work-position">
                    <h5> {{ job.title }}</h5>
                    <p>{{job.description}}</p>
                    <p>
                        {% if job.logo %}
                        <img src="uploads/{{job.logo}}" style="width:200px; height:200px;">
                        {% endif %}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3 class="border-bottom-gray">Projects</h3>
            <ul>
                <?php
                    for ($idx = 0; $idx < count($project); $idx++) {
                        printElement($project[$idx]);
                    }
                    ?>
            </ul>

        </div>
    </div>
    <div class="col-3">
        <h3 class="border-bottom-gray">Skills & Tools</h3>
        <h4>Backend</h4>
        <ul>
            <li>.NET</li>
            <li>PHP</li>
        </ul>
        <h4>Frontend</h4>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
        </ul>
        <h4>Frameworks</h4>
        <ul>
            <li>.NET Framework</li>
            <li>Laravel</li>
            <li>Bootstrap</li>
        </ul>
        <h3 class="border-bottom-gray">Languages</h3>
        <ul>
            <li>Spanish</li>4
            <li>English</li>
        </ul>
    </div>
</div>
<div id="resume-footer" class="row">
    <div class="col">
        Designed by @lejos89
    </div>
</div>
{% endblock %}